@inherits LayoutComponentBase

<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudMainContent Class="layout-main">
    <section class="layout-content">
        @Body
    </section>
</MudMainContent>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
